<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="aos.css">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <meta name="google-signin-client_id" content="997031330426-t9k35uhu7d2k83apkf1ab1d0f5aflfbs.apps.googleusercontent.com">
    

</head>
<body class="">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <nav class="navbar  i-nav navbar-expand-lg navbar-light justify-content-between text-light">

    <div class="container">
        <a class="navbar-brand text-light font-weight-bold i-homeLink " href="#">DevFolio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        

            <div class="g-signin2 rounded i-googleBtn" data-onsuccess="onSignIn"></div>


        </div>
      </div>
  </nav>



      <div class="container text-center my-5 ">
          <div class="row text-center py-0 justify-content-center my-0 ">

              <h1 class=" display-1 font-weight-bold text-left i-mainText my-0 ">Create. </h1>
              <h1 class=" display-1 font-weight-bold text-left i-mainText my-0 ">Your. </h1>
              <h1 class=" display-1 font-weight-bold text-left i-mainText my-0 ">Portfolio. </h1>
          </div>
          <h4 class="text-light font-weight-bold display-5 mt-2 mb-4">Make a DevFolio (Dedicated Portfolio of Developers)</h4>
          <div class="col-sm-4 d-flex mx-auto border i-inputUserName rounded mt-5 i-Shadow  justify-content-center text-center  ">
              <input class="form-control border-0 i-inputUserName  my-3 col">
              <h5 class="font-weight-bold col-sm-5 text-light text-italic my-auto">.devfolio.net</h5>
          </div>
          
          <button class="btn-primary p-2 rounded mx-auto my-3 px-3 text-bold ">Make DevFolio</button>

      </div>

      <div class="container mx-auto  text-center my-5 ">
        <img src="im2.png" alt="" class="col-10 i-Shadow rounded ">
      </div>

      <footer class=" i-footer o-60  ">

        <div class=" container   ">

          <div class="row justify-content-between px-3 py-4">

            <a class="navbar-brand  text-light font-weight-bold  " href="#">Made by Ram Goel</a>
    
            <div class="social my-auto">
                   <a href="https://www.linkedin.com/in/ram-goel-238a861b6/"> <i class="fab fa-linkedin  text-light mx-2"></i></a>
                    <a href="https://github.com/RamGoel">  <i class="fab fa-github  text-light mx-2"></i></a>
                      <a href="https://twitter.com/ramgoel19">  <i class="fab fa-twitter  text-light mx-2"></i></a>
            </div>
          </div>
        </div>
      </footer>
</body>
</html>